*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}
/* Top part css start here */
.top-main-div{
    height: 15vh;
    width: 100%;
    background-color:#fffefe;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
}
.buttons{
    display: flex;
}
.logo{
    height: 50%;
    width: 25%;
}
.logo img{
    height: 60%;
    width: 60%;
    margin-left: 30px;
    margin-top: 16px;
}
.input-group{
    height: 15vh;
    width: 45%;
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.form-group-special .input-group {
    border: 1px solid #bac4c9;
}
input[type="text"] {
  height: 40%;
  width:100%;
  padding: 10px;
  border: 1px solid #BDC3C7;
  background-color: #ecf0f1f3;
  margin-bottom: 20px;
  
}
.icons{
    height: 15vh;
    width: 20%;
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 1rem;
    margin-right: -30px;
}
.buttons{
    height: 15vh;
    width: 20%;
    align-items: center;
    gap: 0.2rem;
}
.in-button>button{
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    background-color: #ffffff19;
    transition: all 0.3 ease;
}   
.in-button>button:hover{
    text-decoration: underline;
    transform: scale(1.1);

}
.sing-button>button{
    padding: 10px 20px;
    border: 2px solid black;
    background-color: #fff;
    font-size: 1.2rem;
   cursor: pointer;
   transition: all 0.3s ease;
}
.sing-button>button:hover{
    color: #fff;
    background-color: #000;
}
/* Top part css ends here */

/* catagories css start here*/
.catagories{
    height: 6vh;
    width: 100%;
    background-color: #fffefe;
    display: flex;
    align-items: center;
    

}
.catogories-divs1,.catogories-divs2{
    width: 10%;
    text-align: center;
    font-family:"indivisible", sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#Auctions,#Auction-houses,#Artists{
    color: #e70838;
}

.catogories-divs2:hover{
    color:#e70838;
    transform: scale(1.1);
}
/*Catogories css ends here */
.scroll-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid;
}

.scroll-images {
      display: inline-block;
      /* padding: 10px 0; */
      animation: scrollLeft 60s linear infinite;
}

.scroll-images img {
      height: 450px;
      margin: 0 20px;
      vertical-align: middle;
}

@keyframes scrollLeft {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100%);
      }
}
.disply-main{
    padding: 0 30px;
    width: 100%;
    height: 100vh;
   
}
.tital-section{
    font-family :Georgia, "Times New Roman", Times, serif;
    font-size:30px;
    margin-top: 40px;
    margin-bottom: 20px;  
    padding-bottom: 20px; 
}
.first-section-upcoming{
    height:50%;
    width:100%;
    display: flex;
    /* background-color: blueviolet; */
    gap: 1rem;
     border-top: 1px solid gray;
}
.first-img>img{
    margin: 20px 0 20px 0;
    height: 335px;
    width: 250px;
}
.text-content{
    font-family: indivisible, sans-serif;
    font-size:16px;
    margin-left: 15px;
    margin-top: 20px;
    width: 60%;
    height: 40%;
}
.live-button>button{
    margin-top:80px;
    height:40px;
    width:250px;
    padding: 10px;
    text-align: center;
    background-color: #e4012a;
    color: #ffffff; 
    border: none;
    transition: background-color 0.3s ease;
}
.live-button>button:hover{
     background-color:rgb(177, 0, 33);
}
.img-main-div{
    height: 60%;
    width:100%;
    display: flex;
    gap: 3rem;
    align-items: center;
    margin-top: 150px;
    margin-left: -1000px;
}
.first-section-imgs>img{
    height:190px;
    width:190px;
}
